
/__pycache__

/.idea/dataSources/3bc6bde8-e4a5-404c-8631-8ff3f5645211.xml
/.idea/codeStyles/codeStyleConfig.xml
/.idea/YoutubeDL-Downloader-1.0.iml
/.idea/workspace.xml
/.idea/vcs.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/dataSources.local.xml
/.idea/dataSources.xml
/.idea/misc.xml
/.idea/modules.xml
